.background {
    position: absolute;
    top: 7vh;
    left: 0;
    width: 100%;
    height: 93%;
    z-index: 0;
    object-fit: cover;
    opacity: 1;
    background-image: url("/public/navbackground.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

